#cuerpoGraficos{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#dashboard-container{
    display: f;
}

.grafico {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
}

.selectTable{
    display: flex;
    gap: 50px;
    margin: 20px;
}

.grafico > * {
    flex: 1 1 50%;  /* Cada elemento ocupará el 50% del ancho del contenedor */
    box-sizing: border-box;  /* Asegura que los bordes y el padding se incluyan en el tamaño total del elemento */
    overflow: hidden;  /* Evita que el contenido desborde del contenedor */
}

.pieChart{
    display: flex;
    flex-direction: row;
}


h2{
    text-align: center;
    font-size: 600px;
    color: white ;
}