@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica Neue LT Std 75 Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  justify-content: end;
  padding: 10px;
}

label{

}
